@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d1d3a !important;
  font-family: "Roboto", sans-serif;
}

/* navbar.js css */

.main_navbar_div {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

.logo_telegram {
  display: flex;
  flex-flow: wrap;
}

#telegram_btn {
  margin: 5px 20px;
  background: linear-gradient(255.12deg, #48139e, #82058d);
  padding: 10px;
  color: #ffffff;
  outline: none;
  outline-style: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  border: none;
  height: 33px;
}

#telegram_btn i {
  margin-right: 5px;
  font-size: 15px;
}

.wallet_other_btns {
  display: flex;
  flex-flow: wrap;
}

.wallet_other_btns h3 {
  font-weight: 900;
  margin-right: 20px;
  margin-top: 10px;
  color: #1adec2;
}

#audit_btn {
  background: #3d5399 !important;
  background: linear-gradient(255.12deg, #48139e, #3d5399) !important;
  color: #ffffff !important;
  font-weight: 700;
  padding: 10px;
  margin-right: 20px;
  width: 75px;
  cursor: pointer;
  outline: none;
  outline-style: none;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #48139e;
  height: 33px;
}

#contract_btn {
  background: linear-gradient(255.12deg, #48139e, #eb6c92);
  font-size: 12px;
  margin-right: 20px;
  color: #fff !important;
  padding: 10px;
  font-weight: 600;
  width: 125px;
  outline: none;
  outline-style: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #48139e;
  height: 33px;
  text-align: center;
  justify-content: center;
}
#contract_btn i {
  margin-right: 5px;
}

#how_works_btn {
  background: linear-gradient(255.12deg, #48139e, #eb6c92);
  font-size: 12px;
  margin-right: 20px;
  color: #fff !important;
  padding: 10px;
  font-weight: 600;
  width: 130px;
  cursor: pointer;
  outline: none;
  outline-style: none;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #48139e;
  height: 33x;
}

#connect_wallet_btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  background: #ffa000;
  background: linear-gradient(255.12deg, #f1b752, #ff7b00);
  font-size: 12px;
  color: #362c15;
}

/* totalbnb css */

.Total_bnb_main_div {
  text-align: center;
  margin-right: 30px;
}

.url_div {
  margin-top: 20px;
}

.url_div span {
  background: linear-gradient(255.12deg, #2b0b5e 70%, #eb6c92) !important;
  padding: 10px 20px;
  border-radius: 20px;
  color: #ddd;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  width: fit-content;
}

.total_bnb_parts {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.mint_bnb_div {
  position: relative;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: #ffa000;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: end;
}

.mint_bnb_div span {
  font-size: 11px;
  color: #686767;
  font-weight: 500;
  background: #df9009;
  padding: 5px 10px;
  border-radius: 10px;
}

.mint_bnb_div h2 {
  font-size: 35px;
}

.mint_bnb_btn {
  position: absolute;
  transform: translate(10px, 120px);
  justify-content: center;
}

.mint_bnb_btn button {
  border-radius: 20px;
  background: linear-gradient(255.12deg, #ffa000, #ee9907);
  font-weight: 600;
  color: #000;
  border: none;
  border-bottom: 1px solid #292828;
  padding: 15px;
  width: 140px;
  outline: none;
  outline-style: none;
}

.mint_bnb_btn button:hover {
  background: #000;
  color: #ffa000;
  transform: scale(1.1);
  transition: 0.5s;
}

.plan_div {
  background: #1adec2;
  position: relative;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: end;
}

.plan_div span {
  color: #333;
  background: #14d1b5;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
}

.plan_div h2 {
  font-size: 35px;
}

.copy_url_div {
  background: linear-gradient(255.12deg, #2b0b5e 70%, #eb6c92) !important;
  position: relative;
  margin-right: 50px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: end;
}

.copy_url_div span {
  color: #ccc;
  background: linear-gradient(255.12deg, #6734b9, #eb6c92);
  font-size: 11px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
}

.copy_url_btn {
  position: absolute;
  transform: translate(10px, 120px);
  justify-content: center;
}

.copy_url_btn button {
  border-radius: 20px;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #292828;
  padding: 15px;
  width: 140px;
  outline: none;
  outline-style: none;
  color: #fff !important;
  background: linear-gradient(255.12deg, #2b0b5e 12%, #eb6c92) !important;
  font-size: 12px;
}

.copy_url_btn button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.total_contract_balance_div {
  background: linear-gradient(255.12deg, #16122e, #0a091d);
  padding: 30px;
  border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 200px;
  width: 300px;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: end;
}

.total_contract_balance_div span {
  color: #999;
  font-size: 12px;
}

.total_contract_balance_div h2 {
  color: #ffa000;
  font-size: 35px;
}

/* anytime bnb css */

.anytime_bnb_main_div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.anytime_bnb_detail_div_1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 320px;
  height: 350px;
  margin: 25px;
  background: linear-gradient(255.12deg, #0e0c1d, #0e0d29);
}

/* .number_Div {
  background: #ffa000;
  text-align: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
} */

.number_Div span {
  width: 40px;
  height: 40px;
  background: #ffb600;
  border-radius: 50px;
  margin-left: 20px;
  color: #444;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 17px;
}

.anytime_left_right {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.anytime_left span {
  color: #999;
  font-size: 12px;
}

.anytime_left h2 {
  color: #ffb600;
}

.anytime_left input {
  border: none;
  font-size: 25px;
  width: 120px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  background: linear-gradient(255.12deg, #211d3d, #15142b);
  color: #ffb600;
  font-weight: 600;
}

.anytime_right span {
  color: #999;
  font-size: 12px;
}

.anytime_right h2 {
  color: #ffb600;
}

.stake_btn {
  padding: 0 20px;
  text-align: center;
}

.stake_btn button {
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background: #ffa000;
  font-weight: 600;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* locked bnb css */

.locked_bnb_main_div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.locked_bnb_detail_div_1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 320px;
  height: 350px;
  margin: 25px;
  background: linear-gradient(255.12deg, #0e0c1d, #0e0d29);
}

.number_locked_Div span {
  width: 40px;
  height: 40px;
  background: #1adec2;
  border-radius: 50px;
  margin-left: 20px;
  color: #444;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 17px;
}

.locked_left_right {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.locked_left span {
  color: #999;
  font-size: 12px;
}

.locked_left h2 {
  color: #1adec2;
}

.locked_left input {
  border: none;
  font-size: 25px;
  width: 120px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  background: linear-gradient(255.12deg, #211d3d, #15142b);
  color: #1adec2;
  font-weight: 600;
}

.locked_right span {
  color: #999;
  font-size: 12px;
}

.locked_right h2 {
  color: #1adec2;
}

.stake_locked_btn {
  padding: 0 20px;
  text-align: center;
}

.stake_locked_btn button {
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background: #1adec2;
  font-weight: 600;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* total roi css */

.anytime_locked_roi {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  height: 110px;
  margin: 0 250px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 3px 51px #03031b;
}

.anytime_roi {
  display: flex;
  background: #ffa000;
  width: 50%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
}

.anytime_roi_left {
  margin: 0 0 30px 30px;
}

.anytime_roi_left h3 {
  color: #fff;
}

.anytime_roi_left p {
  color: #180c42;
  font-weight: 600;
  font-size: 17px;
}

.anytime_roi_right {
  margin: 30px 30px 0px 0;
}

.anytime_roi_right h2 {
  font-size: 28px;
  color: #222 !important;
}

.anytime_roi_right span {
  font-size: 16px;
  color: #444 !important;
  display: flex;
  justify-content: flex-end;
}

.locked_roi {
  display: flex;
  background: #1adec2;
  width: 50%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
}

.locked_roi_left {
  margin: 0 0 30px 30px;
}

.locked_roi_left h3 {
  color: #fff;
}

.locked_roi_left p {
  color: #180c42;
  font-weight: 600;
  font-size: 17px;
}

.locked_roi_right {
  margin: 30px 30px 0px 0;
}

.locked_roi_right h2 {
  font-size: 28px;
  color: #222 !important;
}

.locked_roi_right span {
  font-size: 16px;
  color: #444 !important;
  display: flex;
  justify-content: flex-end;
}

/* footer css */

.footer_main_div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 30px 35px;
  margin-top: 50px;
  background: #191732;
  border-top: 1px solid #333358;
}

.footer_main_div p {
  margin: 0;
  font-size: 12px;
  color: #d26ceb;
  opacity: 0.5;
}

.footer_main_div a {
  color: #cc9112;
  font-size: 11px;
  text-decoration: none;
  font-weight: 700;
}

.footer_main_div a:hover {
  border-bottom: 1px solid #cc9112;
}

/* animation_logo_main_div css */

/* .animation_logo_main_div {
  width: 60px;
  height: 60px;
  background: linear-gradient(255.12deg, #2b0b5e 30%, #eb6c92) !important;
  color: #bfb5fa;
  border-radius: 50px;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  left: 50px;
  box-shadow: 0 3px 51px #424266;
  cursor: pointer;
  border: 1px solid #2b0b5e;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation-name: bounce-1;
  animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animation_logo_main_div i {
  font-size: 22px;
} */

/* @keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

/* about page css */

.about_main_div {
  width: 60%;
  background: #1a1a29;
  border-radius: 20px;
  color: #313131;
  margin: 50px auto 0;
  padding: 20px 50px 30px;
  font-family: "Roboto", sans-serif !important;
}

.about_main_para {
  font-size: 25px;
  font-weight: 700;
  padding-left: 13px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: rgb(223, 211, 255);
}

.about_main_div p {
  font-weight: 500;
}

.minter_words {
  background: linear-gradient(255.12deg, #2b0b5e 70%, #943f59) !important;
  color: #ece6ff;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.about_div_wrap {
  background: #29294e;
  padding: 20px 20px 40px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #fdfdfd;
}

.about_para_title {
  padding-left: 10px;
  font-size: 25px;
  color: #ff5f8f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_div_wrap p {
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #dfdfdf;
}

@media only screen and (max-width: 1100px) {
  .anytime_locked_roi {
    margin: 0 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .total_contract_balance_div {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .anytime_locked_roi {
    margin: 0 100px;
  }

  .about_main_div {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .anytime_locked_roi {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 700px) {
  .total_bnb_parts {
    display: flex;
    flex-direction: column-reverse;
  }
  .total_contract_balance_div {
    width: 85%;
  }
  .copy_url_div {
    width: 90%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    margin-top: 20px;
    margin-left: 50px;
  }
  .copy_url_btn {
    position: relative;
    width: 90%;
    transform: translate(0px, 0px);
    justify-content: center;
    margin-top: 10px;
  }
  .copy_url_btn button {
    width: 100%;
  }
  .plan_div {
    width: 90%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    margin-top: 20px;
  }
  .mint_bnb_div {
    width: 90%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    margin-top: 20px;
  }
  .mint_bnb_btn {
    position: relative;
    width: 90%;
    transform: translate(0px, 0px);
    justify-content: center;
    margin-top: 10px;
  }

  .mint_bnb_btn button {
    width: 100%;
  }

  .about_main_div {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .main_navbar_div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 20px;
  }
  .logo_telegram {
    display: flex;
    flex-direction: column;
  }

  .wallet_other_btns {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .anytime_locked_roi {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .anytime_locked_roi {
    display: none;
  }
  #connect_wallet_btn {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 550px) {
  .footer_main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animation_logo_main_div {
    bottom: 30px;
    left: 30px;
  }

  .about_main_div {
    width: 95%;
  }
}

